<!DOCTYPE html>
<html lang="en" ng-app="athleteProfileApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athlete Profile Input Form</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="../public/angular/app.js"></script>
  </head>
  <body>
    <div id="menu-bar">
      <h1>Athlete Profile Directory</h1>
      <ul>
        <li><a href="">Add Athlete</a></li>
        <li><a href="">List Athletes</a></li>
      </ul>
    </div>
    <!-- <div ng-controller="AthleteController">
		<p>{{message}}</p>
		<ul>
			<li ng-repeat="ninja in ninjas | orderBy: 'name'">{{ninja.name}}</li>
		</ul>
	</div> -->
    <div ng-controller="AthleteController">
      <ul>
        <li class="" ng-repeat="section in sections">{{section}}</li>
      </ul>
      <main ng-view></main>
      <form action="api/profile" method="post" class="main-input">
        <div class="basic-info">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" />
          </div>
          <div class="form-group">
            <label for="sport">Sport</label>
            <input type="text" name="sport" class="form-control" />
          </div>
          <div class="form-group">
            <label for="nationality">Nationality</label>
            <input type="text" name="nationality" class="form-control" />
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" name="gender" class="form-control" />
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="text" name="dateOfBirth" class="form-control" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
